:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --warm-black-plus: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
    --font-DM-Sans: 'DM Sans', sans-serif;
    --font-Inter: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: var(--font-DM-Sans);
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, var(--warm-black) 16.69%, var(--bitcoin-orange) 100%);
}

.header__logo {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header__container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.container__title {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.4rem;
    color: var(--just-white);
}

.container__subtitle {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.container__button {
    position: absolute;
    top: calc(100% - 24px);
    left: calc(50% - 114.5px);
    display: block;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black-plus);
}

.container__button--icon {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/down-arrow.svg');
}

.main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}

.main__exchange-container {
    width: 100%;
    height: auto;
    padding: 80px 0 30px;
    text-align: center;
}

.exchange-container--img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-image: url('../assets/img/bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.exchange-container__info {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.exchange-container__info .info--title {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black-plus);
}

.exchange-container__info .info--subtitle {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.exchange-container__tables {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.tables__currency-table,
.tables__fee-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: var(--font-Inter);
}

.tables__currency-table .currency-table__title,
.tables__fee-table .fee-table__title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bolder;
    line-height: 2.3rem;
}

.tables__currency-table .currency-table__title {
    color: var(--bitcoin-orange);
}

.tables__fee-table .fee-table__title {
    color: var(--secondary-blue);
}

.currency-table__container,
.fee-table__container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.container--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    background-color: var(--just-white);
    border-radius: 15px;
    gap: 1.5px;
}

.container--grid .grid__item {
    align-self: center;
}

.container--grid .grid__item--left {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    justify-self: left;
    padding-left: 10px;
}

.container--grid .grid__item--right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
    justify-self: center;
}

.container--grid .grid__item .item--down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container--grid .grid__item .item--up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table__update, 
.fee-table__update {
    width: 190px;
    height: 30px;
    margin: 15px auto 0;
    padding: 8px;
    border-radius: 8px;
}

.currency-table__update {
    background-color: var(--soft-orange);
}

.fee-table__update {
    background-color: var(--soft-blue);
}

.currency-table__update .update__date {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black-plus);
}

.main__products {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.main__products .products--batata-logo {
    position: absolute;
    width: 40px;
    height: 25px;
    top: calc(0% - 12.5px);
    left: calc(50% - 20px);
    background-image: url('../assets/icons/batata.svg');
}

.main__products .products__info {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 50px auto 0;
    text-align: center;
}

.products__info .info--title {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.products__info .info--subtitle {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.products__cards-container .cards-container__card-detail {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--warm-black-plus);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.cards-container__card-detail .card-detail--icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cards-container__card-detail .card-detail--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.cards-container__card-detail .card-detail--body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.cards-container__card-detail .card-detail--clock {
    background-image: url('../assets/icons/clock.svg');
}

.cards-container__card-detail .card-detail--eye {
    background-image: url('../assets/icons/eye.svg');
}

.cards-container__card-detail .card-detail--dollar {
    background-image: url('../assets/icons/dollar-sign.svg');
}

.cards-container__card-detail .card-detail--check {
    background-image: url('../assets/icons/check-circle.svg');
}

.main__bitcoin-img {
    width: 100%;
    min-width: 320px;
    height: 60vh;
    background-image: url('../assets/img/bitcoinbaby2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.main__bitcoin-img .bitcoin-img__title {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);

}